<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuzhutech.dao.itsm.ServerMapper">
  <resultMap id="BaseResultMap" type="com.fuzhutech.entity.itsm.Server">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="ip" jdbcType="CHAR" property="ip" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="warranty" jdbcType="VARCHAR" property="warranty" />
    <result column="hardware" jdbcType="VARCHAR" property="hardware" />
    <result column="software" jdbcType="VARCHAR" property="software" />
    <result column="configuration" jdbcType="VARCHAR" property="configuration" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, serial_number, ip, location, model, warranty, hardware, software, configuration
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itsm_server
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from itsm_server
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fuzhutech.entity.itsm.Server">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into itsm_server (name, serial_number, ip, 
      location, model, warranty, 
      hardware, software, configuration
      )
    values (#{name,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, #{ip,jdbcType=CHAR}, 
      #{location,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{warranty,jdbcType=VARCHAR}, 
      #{hardware,jdbcType=VARCHAR}, #{software,jdbcType=VARCHAR}, #{configuration,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fuzhutech.entity.itsm.Server">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into itsm_server
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="warranty != null">
        warranty,
      </if>
      <if test="hardware != null">
        hardware,
      </if>
      <if test="software != null">
        software,
      </if>
      <if test="configuration != null">
        configuration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=CHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="warranty != null">
        #{warranty,jdbcType=VARCHAR},
      </if>
      <if test="hardware != null">
        #{hardware,jdbcType=VARCHAR},
      </if>
      <if test="software != null">
        #{software,jdbcType=VARCHAR},
      </if>
      <if test="configuration != null">
        #{configuration,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuzhutech.entity.itsm.Server">
    update itsm_server
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="warranty != null">
        warranty = #{warranty,jdbcType=VARCHAR},
      </if>
      <if test="hardware != null">
        hardware = #{hardware,jdbcType=VARCHAR},
      </if>
      <if test="software != null">
        software = #{software,jdbcType=VARCHAR},
      </if>
      <if test="configuration != null">
        configuration = #{configuration,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuzhutech.entity.itsm.Server">
    update itsm_server
    set name = #{name,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=CHAR},
      location = #{location,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      warranty = #{warranty,jdbcType=VARCHAR},
      hardware = #{hardware,jdbcType=VARCHAR},
      software = #{software,jdbcType=VARCHAR},
      configuration = #{configuration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, serial_number, ip, location, model, warranty, hardware, software, 
    configuration
    from itsm_server
  </select>
  <select id="selectByPageInfo" parameterType="PageInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itsm_server inner join (select id from itsm_server order by id asc limit #{offset}, #{rows}) t2 using(id)
  </select>
  <select id="countByPageInfo" parameterType="PageInfo" resultType="java.lang.Integer">
    select count(id) count from itsm_server
  </select>
  <select id="selectByWhere" parameterType="com.fuzhutech.entity.itsm.Server" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itsm_server
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR} and 
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR} and 
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR} and 
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR} and 
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR} and 
      </if>
      <if test="warranty != null">
        warranty = #{warranty,jdbcType=VARCHAR} and 
      </if>
      <if test="hardware != null">
        hardware = #{hardware,jdbcType=VARCHAR} and 
      </if>
      <if test="software != null">
        software = #{software,jdbcType=VARCHAR} and 
      </if>
      <if test="configuration != null">
        configuration = #{configuration,jdbcType=VARCHAR} and 
      </if>
    </trim>
  </select>
  <delete id="deleteByWhere" parameterType="com.fuzhutech.entity.itsm.Server">
    delete from itsm_server
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER} and 
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR} and 
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR} and 
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR} and 
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR} and 
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR} and 
      </if>
      <if test="warranty != null">
        warranty = #{warranty,jdbcType=VARCHAR} and 
      </if>
      <if test="hardware != null">
        hardware = #{hardware,jdbcType=VARCHAR} and 
      </if>
      <if test="software != null">
        software = #{software,jdbcType=VARCHAR} and 
      </if>
      <if test="configuration != null">
        configuration = #{configuration,jdbcType=VARCHAR} and 
      </if>
    </where>
  </delete>
</mapper>